<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Heroes y Heroinas</h1>
    <img src="/img/index.jpg" alt="">
 <div> <a href="/babbage"> ir a babbage</a> </div>
<div> <a href="/berners-lee"> ir a berners-lee</a> </div>
<div> <a href="/clarke"> ir a clarke</a> </div>
 <div> <a href="/hamilton"> ir a hamilton</a> </div>
  <div>  <a href="/hopper"> ir a hopper</a> </div>
   <div> <a href="/lovelace"> ir a lovelace</a> </div>
   <div> <a href="/turing"> ir a turing</a> </div>
     
   
</html>